.leaveForm {
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 6rem;
  }
  
  .inputField {
    margin-bottom: 20px;
  }
  
  .submitButton {
    background-color: #1976d2;
    color: white;
  }

  